#wrap{
    width: 1000px;
    border: 1px solid black;
    margin: 0px auto;
    padding: 10px;
}

header{
    width: 100%;
    border: 1px solid black;
    height: 200px;
    background: #ccc;
    margin-bottom: 10px; 
}

nav{
    width: 60%;
    height: 180px;
    margin: 10px;
    background: pink;
    border: 1px solid black;
   
}

main{
    width: 100%;
    background: rgb(50, 151, 50);
    height: 200px;
    border: 1px solid black;
    margin-bottom: 10px; 
}

section, article{
    border: 1px solid black;
    width:49.3%;
    height: 400px;
    float: left;
    margin-bottom: 10px;
}

section{
    margin-right: 10px;
}

footer{
    width: 100%;
    clear: both;
    border: 1px solid black;
    height: 150px;
}
